# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases
CreditCardFraud/database/transactions.db
*.db
*.sqlite3

# Logs
CreditCardFraud/logs/application.log
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
